/* Color Variables */

:root {
    --veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
    --softRed: hsl(14, 88%, 65%);
    --softViolet: hsl(273, 75%, 66%);
    --softBlue: hsl(240, 73%, 65%);
    --veryDarkGrayishBlue: hsl(237, 12%, 33%);
    --darkGrayishBlue: hsl(240, 6%, 50%);
    --lightGrayishBlue: hsl(240, 5%, 91%);
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,*::before, *::after {
    box-sizing: inherit;
}

body {
    background: linear-gradient(var(--softViolet), var(--softBlue));
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Kumbh Sans', sans-serif;
}

.main {
    width: 327px;
    height: 535px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--lightGrayishBlue);
    border-radius: 22px;
}

.image_container {
    height: 20%;
}

.image_wrapper {

}

.image_mobile {
    width: 100%;
    max-width: 237px;
    height: 180px;
    margin-left: 45px;
    margin-top: -108px;
}

.image_desktop {
    display: none;
    opacity: 0;
}

.bg_mobile {
    position: relative;
    left: 44px;
    top: -76px;
}

.bg_desktop {
    display: none;
    opacity: 0;
}

.box_image {
    display: none; 
    opacity: 0;
}

.main_title {
    margin-bottom: 30px;
    text-align: center;
    color: var(--veryDarkDesaturatedBlue);
    position: relative;
    top: 2px;
    left: 1px;
}

.faq_container {
    margin-left: 26px;
}

.faq_title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    display: inline;
    color: var(--veryDarkGrayishBlue);
    transition: color 100ms ease-in-out;
}

.faq_title:hover {
    color: var(--softRed);
    cursor: pointer;
}

.faq_arrow {
    margin-left: 32px;
    transition: all 300ms;
    cursor: pointer;
}



.arrow_1 {

}

.arrow_2 {
    position: relative;
    left: 3px;  
}

.arrow_3 {
    position: relative;
    left: 59px;
}

.arrow_4 {
    position: relative;
    left: 56px;
}

.arrow_5 {
    position: relative;
    left: 21px;
}

.faq_description {
    font-size: 12px;
    width: 82%;
    color: var(--darkGrayishBlue);
}

.divider {
    border-top: 1px solid gray;
    color: var(--lightGrayishBlue);
    margin-top: 17px;
    margin-right: 21px;
    margin-bottom: 17px;
}

/* Helper Classes */

    .hidden {
        display: none;
        opacity: 0;
    }

    .active {
        transform: rotate(180deg);
    }

    .bold {
        font-weight: bold;
    }

/* Media Queries   */ 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .main {
        width: 100%;
        max-width: 920px;
        height: 509px;
        display: flex;
        box-shadow: 0px 8px 52px -12px;
    }

    .image_container {
        height: 100%;
        width: 512px;
    }

    .image_wrapper {
        overflow: hidden;
        position: relative;
        top: -185px;
    }

    .image_mobile {
        display: none;
        opacity: 0;
    }

    .image_desktop {
        display: block;
        opacity: 1;
        width: 100%;
        max-width: 474px;
        height: 361px;
        position: relative;
        top: 69px;
        left: -87px;
      
    }

    .bg_mobile {
        display: none;
        opacity: 0;
        
    }

    .bg_desktop {
        display: block;
        opacity: 1;
        position: relative;
        top: -658px;
        left: -609px;
        width: 997px;
        height: 950px;
        z-index: -1;
        overflow: hidden;
    }

    .box_image {
        display: inline-block;
        opacity: 1;
        position: relative;
        top: 206px;
        left: -93px;
        height: 181px;
        width: 189px;
        overflow: visible;
        z-index: 7;
    }

    .faq_container {
        margin-left: 0;
        display: inline-block;
        margin-top: 40px;
        margin-right: 87px;
        position: relative;
        left: -39px;
    }

    .main_title {
        text-align: left;
        margin-bottom: 37px;
    }

    .faq_title {
        position: relative;
        left: 3px;
        font-size: 14px;
    }

    .divider {
        width: 342px;
    }

    .faq_arrow {
        position: absolute;
        left: 311px;
        margin: 0;
    }

    .arrow_2 {

    }

    .arrow_3 {
    
    }

    .arrow_4 {
        
        
    }

}
